---
Name: sentry-logging
---
SilverStripe\Core\Injector\Injector:
  SentryLogHandler:
    class: Sentry\Monolog\Handler
    constructor:
      - '%$RavenClient'
    properties:
      ContentType: text/html
      Formatter: '%$SentryLoggingFormatter'
  SentryLoggingFormatter:
    class: Monolog\Formatter\LineFormatter
    constructor:
      - '%message%'
  RavenClient:
    class: Raven_Client
